<form>
    <table>
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <input type="text" name="name" value="<%=name %>" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Email:</label>
            </td>
            <td>
                <input type="text" name="email" value="<%=email %>" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password:</label>
            </td>
            <td>
                <input type="text" name="password" value="<%=password %>" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="birthday">Birthday:</label>
            </td>
            <td>
                <input type="text" id="datepicker" name="birthday" value="<%=new Date(birthday).toLocaleDateString()  %>" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Gender:</label>
            </td>
            <td>Male:
                <input type="radio" name="gender" <% if(gender==="M" ){%>checked="checked"
                <%}%>value="M"/>Female:
                    <input type="radio" name="gender" <% if(gender==="F" ){%>checked="checked"
                    <%}%>value="F"/></td>
        </tr>
        <tr>
            <td>
                <label for="bio">Bio:</label>
            </td>
            <td>
                <textarea name="bio"><%=bio %></textarea>
            </td>
        </tr>
    </table>
</form>
<button class="save" type="button">Save</button>
<button class="cancel" type="button">Cancel</button>
